{% extends 'layout.html' %}

{% block title %}Admin Page{% endblock %}

{% block topbar %}Admin Function{% endblock %}

{% block content %}
<h2>Admin Page</h2>
<div class="admin-function">
    <div id="admin-user" class="admin-block" onmouseover="hideBlock()">
        <h2>User Management</h2>
        <i class="fa-regular fa-address-card fa-10x"></i>
    </div>

    <div id="admin-news" class="admin-block" onmouseover="hideBlock()">
        <h2>News Management</h2>
        <i class="fa-regular fa-newspaper fa-10x"></i>
    </div>
</div>

<div class="admin-function">
    <div id="admin-post" class="admin-block" onmouseover="hideBlock()">
        <h2>Post Management</h2>
        <i class="fa-regular fa-comments fa-10x"></i>
    </div>

    <div id="admin-blacklist" class="admin-block" onmouseover="hideBlock()">
        <h2>Black List Management</h2>
        <i class="fa-solid fa-ban fa-10x"></i>
    </div>
</div>

<div id="manag-user" style="display: none;" class="management">
    <h2 id="managTitle">Management User</h2>
    {% for user in users %}
    <div class="forum-box-item admin-box" onclick="editData(this)" id="{{ user[0] }}">
        <form action="/userProcess" method="POST">
            <input type="hidden" name="id" value="{{ user[0] }}">
            <BR>Username: <label>{{ user[1] }}</label> <BR/>
            <BR>Email: <label>{{ user[2] }}</label> <BR/>
            <BR>Number Plate: <label>{{ user[3] }}</label> <BR/>
            <BR>Password: <label>{{ user[4] }}</label> <BR/>
            <div align="center">
                <BR><input type="submit" value="Submit" id="admin-user-submit" class="form-btn"/>
            </div>
        </form>
    </div>
    {% endfor %}
    <input type="button" class="back-button" value="Back" id="back" onclick="showBack()"/>
</div>

<div id="manag-post" style="display: none;" class="management">
    <h2 id="managTitle">Management Post</h2>
    {% for post in posts %}
    <div class="forum-box-item admin-box" onclick="editData(this)" id="{{ post[0] }}">
        <form action="/postUpdate" method="POST">
            <input type="hidden" name="id" value="{{ post[0] }}">
            <BR>Title: <label>{{ post[2] }}</label> <BR/>
            <BR>Content: <label>{{ post[3] }}</label> <BR/>
            <div align="center">
                <BR><input type="submit" value="Submit" id="admin-user-submit" class="form-btn"/>
            </div>
        </form>
    </div>
    {% endfor %}
    <input type="button" class="back-button" value="Back" id="back" onclick="showBack()"/>
</div>

<!-- <div id="manag-list" style="display: none;" class="management">
    <h2 id="managTitle"></h2>
    {% for user in users %}
    <div class="forum-box-item" onclick="window.location.href='/posts'" id="{{ user[0] }}">
        <p>Username: {{ user[1] }}</p>
        <p>Email: {{ user[2] }}</p>
        <p>Number Plate: {{ user[3] }}</p>
        <p>Password: {{ user[4] }}</p>
    </div>
    {% endfor %}
    <input type="button" class="back-button" value="Back" id="back" onclick="showBack()"/>
</div> -->
{% endblock %}

{% block javascript %}
<script>
    function hideBlock() {
        // Get all the divs with the "admin-block" class
		const divs = document.querySelectorAll('.admin-block');

        // Add a click event listener to each div
        divs.forEach(div => {
            div.addEventListener('click', () => {
                // Get the ID of the clicked div
                const clickedId = div.id;

                // // Loop through all the divs
                divs.forEach(otherDiv => {
                    otherDiv.style.display = 'none';
                });

                if (clickedId == "admin-user") {
                    document.getElementById("manag-user").style.display = "block";
                } else if (clickedId == "admin-news") {
                    document.getElementById("manag-news").style.display = "block";
                } else if (clickedId == "admin-post") {
                    document.getElementById("manag-post").style.display = "block";
                } else if (clickedId == "admin-blacklist") {
                    document.getElementById("manag-list").style.display = "block";
                }
                
            });
        });
    }

    function showBack() {
        const manag = document.querySelectorAll('.management');
        const block = document.querySelectorAll('.admin-block');

        manag.forEach(otherManag => {
            otherManag.style.display = 'none';
        });
        block.forEach(otherBlock => {
            otherBlock.style.display = 'block';
        });
    }

    function editData(clickedDiv) {
        var labelTags = clickedDiv.querySelectorAll('label');
        for (i = 0; i < labelTags.length; i++) {
            var input = document.createElement('input');
            input.setAttribute('type', 'text');
            input.setAttribute('name', 'user'+i);
            input.value = labelTags[i].textContent.trim();
            labelTags[i].parentNode.replaceChild(input, labelTags[i]);
        }
    }

    var labelTags = document.querySelectorAll('.forum-box-item label');
    for (i = 0; i < labelTags.length; i++) {
        labelTags[i].addEventListener('mouseover', function() {
            this.classList.add('hover');
        });

        labelTags[i].addEventListener('mouseout', function() {
            this.classList.remove('hover');
        });
    }
</script>
{% endblock %}