{% extends 'layout.html' %}

{% block title %}NP OCR{% endblock %}

{% block topbar %}Upload the Number Plate{% endblock %}

{% block content %}
<form class="form-sty" action="/result" method="POST" enctype="multipart/form-data">
    <fieldset>
        <label for="img_title">Upload the Number Plate</label> <br><br>

        <input type="file" name="img1" /> <br><br>

        <input class="submit-button" type="submit" id="img_submit" value="Submit"/>
    </fieldset>
</form>
{% endblock %}