h1 {
    color: white;
}

h2 {
    color: white;
    line-height: 0.5em;
}

h3 {
    color: white;
}

p {
    color: white;
}

p2 {
    color: Linen ;
}

td {
    color: gold;
}

img {
    vertical-align: middle;
}

#Ranks div {
    display:flex;
    flex-flow:row-reverse wrap;
}

#header {
    background: rgb(24, 23, 51);
    padding-right: 16px;
}

#hyperlink a {
    color: black;
    font-weight: bold;
    margin-right: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-decoration: none;
}

#hyperlink {
    background: rgb(237, 187, 0);
    width: 100%;
    padding-left: 15px;
}
