#header {
    background: rgb(24, 23, 51);
    padding-right: 16px;
    height: auto;
    width: 100%;
    margin: -10px -50px 5px -8px;
}

.Cups {
    width: 50%;
    background: seashell;
    margin: 25px 25%;
    height: auto;
    border-style:solid;
    border-color: orange;
    border-width:7px;
    border-bottom-width:17px;
    border-radius:1cm;
}
.Cups img { 
    float: left; 
}
.Cupstext {
    font-weight: bold;
    display: inline-block;
    clear: none;
    font-size: 18px;
}
.Cups:hover {
    transform: scale(1.02);
}

h1 {
    color: white;
}

h2 {
    margin-left: 25px;
    padding-top: 25px;
}

#setMargin1 {margin-left: 100px;}
#setMargin2 {margin-left: 75px;}
#setMargin3 {margin-left: 50px;}

#hyperlink a {
    color: black;
    font-weight: bold;
    background: rgb(237, 187, 0);
    margin-right: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-decoration: none;
}

#hyperlink {
    background: rgb(237, 187, 0);
    width: 100%;
    padding-left: 15px;
}

p {
    color: black;
}

@media only screen and (max-width: 1090px) {
    .Cups img { 
        float: inline-start; 
    }

    .Cupstext {
        margin-right: 100px;
        display: flex;
    }
}
